:root {
    --nightlight: #515154;
    --nightmedium: #2b2b2e;
    --nightdark: #121212;
    --nightwhite: #c5c5c6;
}

* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    font-family: sans-serif;
    font-size: 12px;
    min-height: 100vh;

}

header {
    height: 100px;
    display: flex;
    justify-content: right;
}

header h2 {
    font-size: 2em;
    text-align: left;
    width: 90%;
    margin: 25px;
}

header button {
    margin-top: 25px;
    border-radius: 3px;
    height: 2.5em;
    font-size: 1.1em;
    width: 80px;
}

header span {
    font-size: 1.2em;
    margin: 25px;
}

main {
    width: 100%;
    padding-bottom: 100px;
}

main article {
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    border: 2px solid;
    line-height: 1.5em;
    position: relative;
}

main article h3 {
    display: block;
    border-bottom: 1px solid;

}

main article p {
    font-style: italic;
    display: block;
    min-height: 5em;
    margin: 5px;
}

main article h4 {
    display: block;
    font-weight: 400;
}

main article button {
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
}

footer {
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 3;
}

footer p {
    margin-top: 5px;
    font-size: 1em;
    text-align: center;
}

footer ul {
    list-style: none;
    line-height: 1.5em;
}

footer ul li a {
    text-decoration: none;
    font-style: italic;
}

footer ul li a span {
    font-weight: bold;
}

/*LIGHT MODE*/
.light {
    background-color: ghostwhite;
    min-height: 100vh;
}

.light header {
    border-bottom: 15px double black;
}

.light header button {
    color: white;
    background-color: black;
}

.light header button a {
    color: white;
    text-decoration: none;
}

.light main article {
    border-color: black;
    color: black;
}

.light main article button {
    color: black;
    background-color: ghostwhite;
}

.light footer {
    border-top: 4px solid black;
    background-color: ghostwhite;
}

.light footer ul li a {
    color: black;
}

/*DARK MODE*/
.dark {
    background-color: var(--nightdark);
    min-height: 100vh;
}

.dark header {
    border-bottom: 15px double var(--nightmedium);
}

.dark header h2 {
    color: white;
}

.dark header button {
    color: var(--nightwhite);
    background-color: var(--nightlight);
    border: 2px solid var(--nightmedium);
}

.dark header button a {
    color: var(--nightwhite);
    text-decoration: none;
}

.dark main article {
    border-color: var(--nightlight);
    color: var(--nightwhite);
}

.dark main article h3 {
    border-color: var(--nightlight);
}

.dark main article button {
    color: var(--nightwhite);
    background-color: var(--nightdark);
}

.dark footer {
    background-color: var(--nightdark);
    border-top: 4px solid var(--nightmedium);
    color: var(--nightwhite);
}

.dark footer ul li a {
    color: var(--nightwhite);
}


header span:hover {
    cursor: pointer;
}