
:root {
    --nightlight: #515154;
    --nightmedium: #2b2b2e;
    --nightdark: #121212;
    --nightwhite: #c5c5c6;
}

* {
    box-sizing: border-box;
    margin: 0px;
    
}

body {
    font-size: 12px;
    min-height: 100vh;  
    font-family: sans-serif;    
}

header {
    height: 100px;
    display: flex;
    justify-content: right;
}

header span {
    font-size: 1.2em;
    margin: 25px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 800px;
}

.divLeft {   
    width: 50%;
    float: left;
    display: flex;   
    justify-content: center;  
    border-right: 15px double;
    transition: width 1s ease-in-out;
}

#gradient-icon {
    width: 27vw;
    height: 27vw;
    border-radius: 50%;
    margin-top: 150px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#gradient-icon a {
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    font-size: 4em;
}

.divRight {
 
    width: 50%;
    
}

.form {
    margin-top: 150px;
    padding: 20px;
    line-height: 2.5;
}

.form h2 {
    text-align: center;
    font-size: 1.75em;
}

label {
    display: block;
}

.input-group {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 3px;
    border-width: 1px;
    height: 2.5em;
    font-size: 1.1em;
    line-height: 1.2em;
    padding: 5px;
}

textarea {
    font-family: sans-serif;
    border-radius: 3px;
    border-width: 1px;
    font-size: 1.1em;
    height: 7.5em;
    line-height: 1.2em;
    padding: 5px;
}

button {
    margin-top: 20px;
    border-radius: 5px;
    height: 2.5em;
    font-size: 1.1em;
    width: 100%;
}

footer {
    height: 100px;
    width: 100%;
    z-index: 3;
}


/*LIGHT MODE*/
.light {
    background-color: ghostwhite;
    min-height: 100vh;
}

.light header {
    border-bottom: 15px double black;
}

.light .divLeft {
    border-color:black;
}

.light #gradient-icon {
    color: white;
    background-image: linear-gradient(gold, chocolate);
}

.light #gradient-icon a {
    color: white;

}

.light #gradient-icon a:hover {
    text-shadow: 1px 1px 2px dimgray;
}


.light button {
    color: white;
    background-color: black;
}

.light button:hover{
    background-color:var(--nightmedium);
}

.light footer {
    border-top: 4px solid black;
    background-color: ghostwhite;
}

/*DARK MODE*/
.dark {
    background-color: var(--nightdark);
    min-height: 100vh;
}

.dark header {
    border-bottom: 15px double var(--nightmedium);
}

.dark #gradient-icon {
    color: black;
    background-image: linear-gradient(midnightblue, violet);
}

.dark .divLeft {
    border-color: var(--nightmedium);
}

.dark #gradient-icon a {
    color: black;
}

.dark #gradient-icon a:hover {
    text-shadow: 1px 1px 2px violet;
}

.dark .divRight {
    color: var(--nightwhite);
}

.dark input {
    background-color: var(--nightmedium);
    border: 1.5px solid var(--nightlight);
    color: #b2bcd9;
}

.dark textarea {
    background-color: var(--nightmedium);
    border: 1.5px solid var(--nightlight);
    color: #b2bcd9;
}

.dark button {
    color: var(--nightwhite);
    background-color: #55638a;
    border: 1.5px solid #55638a;
}

.dark button:hover{
    background-color:#656d8c;
}

.dark footer {
    border-top: 4px solid var(--nightmedium);
    background-color: var(--nightdark);
}

/*RESPONSIVE DESIGN*/
header span:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .divLeft {
        width: 100%;
        border-right: 0;
    }

    #gradient-icon {
        width: 70vw;
        height: 70vw;
    }

    .divRight {
        width: 100%;
    }

    .form {
        margin-top: 20px;
    }
}